:root {

}

nav {
    margin-right: 100px;
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    transition: 0.5s;
}

.nav-link:hover {
    box-shadow: 0 3px 0 black;
    transform: translateY(-5px);
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#hello-bar {
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 100), black);
    color: white;
    padding-top: 50px;
    padding-left: 200px;
}

#hello-bar > h1 {
    font-size: 70px;
    font-family: 'Gill Sans', sans-serif;
    font-style: italic;
}

#hello-bar h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

#bio {
    width: 50%;
}

div > p {
    margin-top: 100px;
    margin-left: 200px;
}

#profile-image {
    width: 50%;
}

img {
    width: 100%;
    padding: 100px;
}

main h2 {
    width: 100%;
}

.main-header {
    margin: 0px 200px;
    font-size: 50px;
    border-bottom: 3px solid darkgray;
    padding-bottom: 10px;
}

#projects-slogan {
    margin: 10px 200px;
    font-size: 25px;
}

#projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.project-icon {
    width: 30%;
    padding: 50px;
    transition: 1s;
}

.project-icon:hover {
    padding: 30px;
    cursor: pointer;
}

.project-icon > img {
    padding: 0px;
}